
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.logo {
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    padding: 8px 15px;
    background: #007bff;
    border-radius: 4px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 8px 10px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #00c4ff;
}


.hero {
    position: relative;
    width: 100%;
    height: 100vh;        
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;         
    height: 100vh;       
    object-fit: cover;   
    z-index: -1;
    filter: brightness(70%);  
}


.overlay {
    position: relative;
    background: rgba(0, 0, 0, 0.55);
    padding: 25px 45px;
    border-radius: 10px;
    text-align: center;
}

.hero-title {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.hero-subtitle {
    color: #00c4ff;
    font-size: 1.2rem;
    margin-top: 8px;
}


.about-section {
    padding: 100px 80px;
    background: white;
    margin-top: 0;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-section p {
    line-height: 1.6;
    font-size: 1.1rem;
}
